@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3C9A39;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
  --text-13: 13px;
  --text-11: 11px;
  --text-10: 10px;
  --breakpoint-xsm: 500px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
*{
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--foreground);
}
